.section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .row {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .sectionNav {
        display: flex;
        flex-direction: column;
        gap: .5rem;

        a {
            display: flex;
            align-items: center;
            text-transform: uppercase;
            gap: .5rem;
            color: var(--gray);
            font-size: .875rem;
            width: fit-content;
            span {
                color: var(--gray);
                font-size: .875rem;
                font-family: var(--special-font-family);
                &:hover, &:active, &:focus-visible {
                    text-decoration: underline;
                }
            }
        }
        a.leadingTitle {
            font-size: 1.5rem;
            font-weight: 700;
        }
        i {
            font-size: .6rem;
            color: inherit;
        }
    }
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: .5rem 1rem;
    }
}
