.skeletonCard {
    display: flex;
    background: var(--lt-transparent-surface);
    animation: ghostEffect 2.5s linear infinite;
    max-height: 50px;
    min-height: 50px;
    height: 50px;
    border-block: 1px solid var(--lt-transparent-surface-hover);
    .img {
        height: 100%;
        width: 200px;
        min-width: 200px;
        background: var(--lt-transparent-surface-hover);
    }
    .contentBody {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
        padding: .5rem;
        gap: 1rem;
        .leftEnd {
            display: flex;
            flex-direction: column;
            gap: .275rem;
            height: 100%;
            flex-grow: 1;
            .title {
                width: 100%;
                height: 100%;
                border-radius: 100vw;
                background: var(--lt-transparent-surface-hover);
            }
            .grouping {
                display: flex;
                align-items: center;
                gap: .275rem;
                height: 100%;
                .storeImg {
                    aspect-ratio: 1/1;
                    height: 100%;
                    background: var(--lt-transparent-surface-hover);
                    border-radius: 100vw;
                }
                .storeName {
                    height: 100%;
                    width: 40%;
                    border-radius: 100vw;
                    background: var(--lt-transparent-surface-hover);
                }
            }
        }
        .rightEnd {
            background: var(--lt-transparent-surface-hover);
            height: 100%;
            width: 30%;
            border-radius: 100vw;
        }
    }
}

@keyframes ghostEffect {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .3;
    }
}

@media (max-width: 480px) {
    .skeletonCard {
        flex-direction: column;
        max-height: none;
        min-height: none;
        height: auto;
        border: none;
    }
    .skeletonCard .img {
        min-width: none;
        max-width: none;
        width: 100%;
        height: 150px;
        aspect-ratio: 16 / 9;
    }
    .skeletonCard .contentBody {
        height: 71px;
    }
}