.verticalCard {
    background: var(--lt-transparent-surface);
    border-radius: 5px;
    min-width: 200.9px;

    .imgContainer {
        position: relative;

        img {
            background: var(--lt-transparent-surface-hover);
            width: 100%;
            aspect-ratio: 1/1;
            border-radius: 10px 10px 0 0;
            object-position: center;
            object-fit: cover;
        }
        
        .ranking {
            position: absolute;
            bottom: .5rem;
            left: .5rem;
            background: var(--dk-surface);
            border-radius: 50%;
            max-width: 3rem;
            min-width: 3rem;
            height: 3rem;
            display: grid;
            place-items: center;
            font-family: var(--special-font-family);
            font-weight: 700;
            outline: 2px solid goldenrod;
            outline-offset: -6px;
        }
    }

    .contentBody {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 1rem;

        .title {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            -webkit-box-orient: vertical;  
            overflow: hidden;
            font-size: 1rem;
            font-weight: 500;
        }
        .footer {
            display: flex;
            align-items: center;
            gap: .5rem;
        }
        .currentPrice {
            font-weight: 700;
            font-size: 1.25rem;
        }
        .historicalLow {

        }
        .appliedDiscount, .historicalLow {
            background: var(--dk-transparent-surface);
            padding: .125rem .75rem;
            border-radius: 5px;
            font-weight: 700;
            font-size: .875rem;
        }
        .historicalLow{
            padding: .125rem .5rem;
            background: green;
            outline: 1px solid springgreen;
            outline-offset: -2px;
        }
    }

}