.verticalCard {
    display: flex;
    align-items: center;
    background: var(--lt-transparent-surface);
    max-height: 50px;
    min-height: 50px;
    height: 50px;
    &:hover,&:active, &:focus-visible {
    background: var(--lt-transparent-surface-hover);
    }
    .imgSrc {
        height: 100%;
        width: 200px;
        object-fit: cover;
        object-position: center;
    }
    .contentBody {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: .5rem;
        width: 100%;
        height: 100%;
        padding: 0 0 0 .5rem;
        border-block: 1px solid var(--lt-transparent-surface-hover);
        .leftEnd {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            gap: .275rem;
            .title {
                font-size: .875rem;
                font-weight: 500;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                line-clamp: 1;
                -webkit-box-orient: vertical;  
                overflow: hidden;
            }
            img {
                border-radius: 50%;
            }
        }
        .rightEnd {
            display: flex;
            align-items: center;
            gap: .5rem;
            .normalPrice {
                text-decoration: line-through;
                color: var(--gray);
            }
            .salePrice {
                background: royalblue;
                padding: .5rem 1rem;
                outline: 2px solid cornflowerblue;
                outline-offset: -4px;
                font-family: var(--special-font-family);
                border-radius: 100vw 0 0 100vw;
                font-weight: 500;
            }
        }
        .storeGrouping {
            display: flex;
            align-items: center;
            gap: .275rem;
            .storeName {
                color: var(--gray);
                font-weight: 600;
                font-size: .875rem;
            }
        }
    }
}